.formInput{
    display: flex;
    flex-direction: column;
    width: 280px;
    
}

input{
    padding: 15px;
    margin: 10px 0px;
    border: none;
    border-bottom: 3px solid black;
    outline: none;
}


label{
    font-size: 15px;
    color: rgb(255, 255, 255);
}

span{
    font-size: 12px;
    padding: 3px;
    color: rgb(230, 16, 16);
    display: none;
}

input:invalid[focused="true"]{
    border-bottom: 1px solid red;
    outline: none;
}

input:invalid[focused="true"] ~ span{
    display: block;
    outline: none;
}